@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';

@import 'tailwindcss/utilities';

.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px; /* Adjust as needed */
    z-index: 1000; /* Ensure it is above other elements */
  }

  
.chatbot-icon-button {
    background-color: #002;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
.chat-window-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 600px;
    max-height: 100vh;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  